<h1>The Group</h1>
<p class="about-p">TrolleyHop is a web application that encourages use of the new Atlanta light-rail system by creating itineraries for riders. TrolleyHop will randomly select six activities along the streetcar's route for each user, resulting in a full day on the trolly.</p>
<section class="about">
    <div class="group-person">
    	<div class="about-left-container">
        <img src="/images/eric.jpg">
        <ul>
          <li><a href="https://www.linkedin.com/in/ericsorrells" target=_blank>LinkedIn</a></li>
          <li><a href="https://github.com/ericsorrells" target=_blank>Github</a></li>
        </ul>
      </div>
      <div class="about-right-container">
        <h3>Eric Sorrells</h3>
        <p class="group-person-description">"If you can't dazzle em with brilliance, then baffle em with bullshit"</p>
      </div>
    </div>
    <div class="group-person">
      <div class="about-left-container">
      <img src="/images/brandon.jpg">
        <ul>
          <li><a href="www.linkedin.com/in/brandonjkearns/en" target=_blank>LinkedIn</a></li>
          <li><a href="http://brandonkearns.com" target=_blank>Website</a></li>
          <li><a href="https://github.com/brandonkearns" target=_blank>Github</a></li>
        </ul>
      </div>
      <div class="about-right-container">
        <h3>Brandon Kearns</h3>
        <p class="group-person-description">"I like cheating death, tempting fate, and taking long walks on the beach."</p>
      </div>
    </div>
    <div class="group-person">
      <div class="about-left-container">
        <img src="/images/afrenz.jpg">
          <ul>
            <li><a href="www.linkedin.com/in/aronfrenz/en" target=_blank>LinkedIn</a></li>
            <li><a href="http://www.crayonandpixels.com" target=_blank>Website</a></li>
            <li><a href="https://github.com/aron841" target=_blank>Github</a></li>
          </ul>
        </div>
      <div class="about-right-container">
        <h3>A Frenz</h3>
        <p class="group-person-description">"I believe that if life gives you lemons, you should make lemonade and try to find somebody whose life has given them vodka, and have a party."</p>
      </div>
    </div>
    <div class="group-person">
      <div class="about-left-container">
      <img src="/images/laila.jpg">
        <ul>
          <li><a href="https://www.linkedin.com/in/developerlaila" target=_blank>LinkedIn</a></li>
          <li><a href="http://www.lailazaki.com" target=_blank>Website</a></li>
          <li><a href="https://github.com/lailazaki" target=_blank>Github</a></li>
        </ul>
      </div>
      <div class="about-right-container">
        <h3>Laila Zaki</h3>
        <p class="group-person-description">"Oh, you found out that you only live once? Please tell me more about your other scientific discoveries."</p>
      </div>
    </div>
</section>
