    <h1>The Group</h1>
    <div class="group-person">
    	<section>
      	<img src="http://www.fillmurray.com/90/90">
    	</section>
      <div>
        <h3>Eric Sorrells</h3>
        <ul>
          <li><a href="#">LinkedIn</a></li>
          <li><a href="#">Website</a></li>
          <li><a href="#">Instagram</a></li>
        </ul>
        <p class="group-person-description">Your bones don't break, mine do. That's clear. Your cells react to bacteria and viruses differently than mine. You don't get sick, I do. That's also clear.</p>
      </div>
    </div>
    <div class="group-person">
      <img src="http://www.fillmurray.com/90/91">
      <div>
        <h3>Brandon Kearns</h3>
        <ul>
          <li><a href="#">LinkedIn</a></li>
          <li><a href="#">Website</a></li>
          <li><a href="#">Instagram</a></li>
        </ul>
        <p class="group-person-description">Your bones don't break, mine do. That's clear. Your cells react to bacteria and viruses differently than mine. You don't get sick, I do. That's also clear.</p>
      </div>
    </div>
    <div class="group-person">
      <img src="http://www.fillmurray.com/90/92">
      <div>
        <h3>A Frenz</h3>
        <ul>
          <li><a href="#">LinkedIn</a></li>
          <li><a href="#">Website</a></li>
          <li><a href="#">Instagram</a></li>
        </ul>
        <p class="group-person-description">Your bones don't break, mine do. That's clear. Your cells react to bacteria and viruses differently than mine. You don't get sick, I do. That's also clear.</p>
      </div>
    </div>
    <div class="group-person">
      <img src="http://www.fillmurray.com/91/90">
      <div>
        <h3>Laila Zaki</h3>
        <ul>
          <li><a href="#">LinkedIn</a></li>
          <li><a href="#">Website</a></li>
          <li><a href="#">Instagram</a></li>
        </ul>
        <p class="group-person-description">Your bones don't break, mine do. That's clear. Your cells react to bacteria and viruses differently than mine. You don't get sick, I do. That's also clear.</p>
      </div>
    </div>