<h1>The Group</h1>
<p>TrolleyHop is a web application that encourages use of the new Atlanta light-rail system by creating itineraries for riders. TrolleyHop will randomly select six activities along the streetcar's route for each user, resulting in a full day on the trolly.</p>
<section class="about">
    <div class="group-person">
      	<img src="/images/eric.jpg">
      <div>
        <h3>Eric Sorrells</h3>
        <ul>
          <li><a href="https://www.linkedin.com/in/ericsorrells">LinkedIn</a></li>
          <li><a href="https://github.com/ericsorrells">Github</a></li>
        </ul>
        <p class="group-person-description">"If you can't dazzle em with brilliance, then baffle em with bullshit"</p>
      </div>
    </div>
    <div class="group-person">
      <img src="/images/brandon.jpg">
      <div>
        <h3>Brandon Kearns</h3>
        <ul>
          <li><a href="www.linkedin.com/in/brandonjkearns/en">LinkedIn</a></li>
          <li><a href="http://brandonkearns.com">Website</a></li>
          <li><a href="https://github.com/brandonkearns">Github</a></li>
        </ul>
        <p class="group-person-description">"I like cheating death, tempting fate, and taking long walks on the beach."</p>
      </div>
    </div>
    <div class="group-person">
      <img src="/images/afrenz.jpg">
      <div>
        <h3>A Frenz</h3>
        <ul>
          <li><a href="www.linkedin.com/in/aronfrenz/en">LinkedIn</a></li>
          <li><a href="http://www.crayonandpixels.com">Website</a></li>
          <li><a href="https://github.com/aron841">Github</a></li>
        </ul>
        <p class="group-person-description">"I believe that if life gives you lemons, you should make lemonade and try to find somebody whose life has given them vodka, and have a party."</p>
      </div>
    </div>
    <div class="group-person">
      <img src="/images/laila.jpg">
      <div>
        <h3>Laila Zaki</h3>
        <ul>
          <li><a href="https://www.linkedin.com/in/developerlaila">LinkedIn</a></li>
          <li><a href="http://www.lailazaki.com">Website</a></li>
          <li><a href="https://github.com/lailazaki">Github</a></li>
        </ul>
        <p class="group-person-description">"Oh, you found out that you only live once? Please tell me more about your other scientific discoveries."</p>
      </div>
    </div>
</section>
