
<h1>Your Saved Itineraries</h1>

<ul class="itinerary">
  <li ng-repeat="itinerary in itineraries">
    <a ui-sref="itineraries-show({id: itinerary.id})" class="itin-name">
    {{ itinerary.name }}</a>
		<br>
		<a ui-sref="itineraries-show({id: itinerary.id})" class="itin-date">
      {{ itinerary.date | date:'EEEE, MMMM d, yyyy'}}
    </a>
    <br>
    <button class="button" ng-click="destroyItinerary(itinerary)">Delete</button>
  </li>
</ul>

<br>
<br>

<a ui-sref="itineraries-new" class="back">Create New Itinerary</a>
       