<div ng-controller='GetEventsCtrl' class="create-itin">
  
<h1>Create A New Itinerary<span>learn more</span></h1>

  <form ng-submit="addEvents()">
    <input placeholder="Name"
           ng-model="newItineraryName"
           ng-disabled="saving" autofocus>
    <div class="new-itinerary-date">
      <span class="input-group">
        <input type="text"
               class="form-control date-picker"
               datepicker-popup="''dd-MMMM-yyyy'"
               ng-model="newItineraryDate"
               is-open="dateChooserState.opened"
               datepicker-options="dateOptions"
               ng-required="true"
               close-text="Close"
               placeholder="Date" />
        <span class="input-group-btn">
          <button type="button" class="date-picker btn btn-default" ng-click="open($event)">
            <i class="glyphicon glyphicon-calendar"></i>
          </button>
        </span>
      </p>
    </div>

    <button type="submit" value="Submit">Create</button>
  </form>

  <ul>
    <li class="event" ng-repeat="event in events" >
      <div class="event-left-container">
       <img src="{{ event.image_address }}">
        <button ng-click="deleteEvent(events.indexOf(event))">Get A New Event</button>
      </div>
      <div class="description">
        <div>
          <h2>{{ event.name }}</h2> 
          <p class="contacting">{{ event.address }}</p>
          <p>{{ event.phone }}</p>
          <a href="{{ event.web_address }}" target=_blank>Website</a>
          <p>{{ event.description }}</p>
        </div>
      </div>
    </li>
  </ul>
<!--   <div ng-controller='NewMapCtrl' width=100% height=100%>
    <leaflet markers="markers" center="center" layers="layers" width="960px" height="480px"></leaflet>
  </div>
 -->

</div>


