<h1>Itineraries New</h1>

<div ng-controller='GetEventsCtrl'>
  <form ng-submit="addEvents()">
    <label>New Itinerary</label>
    <input placeholder="Name"
           ng-model="newItineraryName"
           ng-disabled="saving" autofocus>
    <input placeholder="Date"
           ng-model="newItineraryDate"
           ng-disabled="saving" autofocus
           onaftersave="getItineraries">      
    <input type="submit" value="Submit">
  </form>

This is the Events Stuff:

  <ul>
    <li ng-repeat="event in events track by $index" >
      <strong>{{ event.name }}</strong> 
      <br>
      {{ event.description }}
      <br>
      {{ event.address }}
      <br>
      {{ event.phone }}
      <br>
      {{ event.web_address }}
      <br>
      {{ event.image_address }}
      <br>
        <button ng-click="deleteEvent($index)" >Get A New Event</button>
    </li>
  </ul>
</div>




</div>
