
<div ng-controller='ShowItineraryEventsCtrl' class="mapping">
  <h2>{{ itinerary.name }}</h2>
  <h5>{{ itinerary.date | date:'EEEE, MMMM d, yyyy' }}</h5>

  <div ng-controller='MapCtrl' class="map-desktop">
    <leaflet markers="markers" center="center" layers="layers" width="675px" height="450px" class="map"></leaflet>
  </div>
  
  <ul>
  <div ng-controller='MobileMapCtrl' class="map-mobile">
    <leaflet markers="markers" center="center" layers="layers" width="300px" height="300px" class="map"></leaflet>
  </div>

<!-- Events -->
    <li ng-repeat="event in itineraryEvents" class="event"> 
      <div class="event-left-container">
        <img ng-src="{{event.image_address}}">
      </div>
      <div class="description">
        <div>
          <h2>{{ event.name }}</h2> 
          <p class="contacting">{{ event.address }}</p>
          <p>{{ event.phone }}</p>
          <a href="{{ event.web_address }}" target="_blank">Website</a>
          <p>{{ event.description }}</p>
        </div>
      </div>
    </li>
  </ul>

</div>
